@import "addons.scss";
@import "ldaputilscompleto.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in ldaputilscompleto.scss */
.ldaputilscompleto {
  @include addons;
  @include ldaputilscompleto;
}

.ldaputilscompleto .panelCambioPassword {
	margin: 10px;				
	padding-left: 25px;
	padding-right: 5px;
	padding-top: 5px;
    border: #3299FF solid 1px;    
}